@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@font-face {
    font-family: gta;
    src: url(gta-font.ttf);
}
body{
	margin: 0;
	background-image: url(bakgrunnur.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 1000px;
    background-attachment: fixed;
}
h1{
	font-family: gta;
	font-size: 9em;
	margin: 0;
	margin-top: -15px;
	text-align: center;
	color: white;
	background-color: black;
	width: 100%;
}
h2{
	font-size: 3em;
}
h3{
	margin-bottom: 0;
}
ul{
	text-align: center;
  margin:0;
	background-color: black;
}
li{
	display: inline-block;
	text-align: center;
	background-color: black;
	color: white;
	font-family: roboto;
	padding:20px;
}
li a{
	background-color: black;
	color: white;
}
li:hover{
	background-color: white;
	color: black;
}
.body{
	background-color: white;
	margin-top: 500px;
	color: black;
}
.texti{
	margin: auto;
	font-family: roboto;
	max-width: 900px;
}
.indent{
	margin-left: 150px;
	padding-bottom: 20px;
}
.fyrirsogn{
	background-color: black;
	text-align: center;
	font-family: roboto;
	color: white;
	padding-top: 50px; 
}
.karakterar{
	font-size: 1.4em;
	padding-bottom: 50px;
	margin: 0;
}
.ritgerd{
	font-size: 1.2em;
}
.trevor_titill{
	padding-top: 40px;
	color: #FDA353;
	font-family: roboto;
	max-width: 900px;
	margin: auto;
}
.trevor{
	background-color: rgba(255,167,90,0.3);
}
.franklin_titill{
	padding-top: 40px;
	color: #A5EEA7;
	font-family: roboto;
	max-width: 900px;
	margin: auto;
}
.franklin{
	background-color: rgba(165,241,164,0.3);
}
.michael_titill{
	padding-top: 40px;
	color: #63B2D4;
	font-family: roboto;
	max-width: 900px;
	margin: auto;
}
.michael{
	background-color: rgba(111,184,212,0.3);
}
p{
	padding-top: 40px;
	padding-bottom: 40px;
}
img{
	width: 100%;
}
